RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

<IfModule mod_dir.c>
        DirectoryIndex index.html
    </IfModule>
<IfModule mod_rewrite.c>